[data]
    name = {{ promptString "Enter your Git display name (e.g. Sourodeep Chatterjee)" | quote }}
    email = {{ promptString "Enter the email address for your Git commits" | quote }}
    is_work = {{ promptBool "Is this a Work machine? (Uses SSH/Enterprise settings)" false }}
